/**
 * $Id: ec_receipt_admin.css,v 1.3 2008/10/11 13:16:53 gordon Exp $
 */
#ec-receipt-admin-rtypes-form .item-list li {
  white-space: normal;
}

#ec-admin-rtypes ,dragable td:first {
  white-space: nowrap;
}
