/* $Id: common.css,v 1.12 2007/06/04 11:10:38 goba Exp $ */

/*
** HTML elements
*/
a, a:link, a:active {
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
body {
  margin: 0;
  padding: 3em;
  font-size: .9em;
  line-height: 1.3em;
}
blockquote {
  font-style: italic;
}
table {
  margin: 0;
  padding: .5em;
  border-collapse: collapse;
}
code, pre {
 font-size: 1em;
}
pre {
 font-size: 0.8em;
 padding: 1em;
 background: #eee;
}
li {
 padding-bottom: .3em;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: .25em;
}
h1 {
  font-size: 1.3em;
}
h2 {
  font-size: 1.2em;
}
h3 {
  font-size: 1.1em;
}
h4, h5, h6 {
  font-size: 1em;
}
p {
  margin: 0 0 .5em 0;
}
br {
  line-height: 0.6em;
}

/*
** Page layout blocks / IDs
*/
#header {
  margin-bottom: 2em;
}
#help {
  font-size: 0.8em;
}
#content {
  clear: both;
  max-width: 1000px;
}
#sidebar-left, #sidebar-right {
  vertical-align: top;
  padding: 10px;
}
#main {
  padding-left: 1em;
  padding-right: 1em;
  vertical-align: top;
}
#footer {
 font-size: 0.8em;
 padding-top: 2em;
 text-align: center;
}

/*
** Common declarations for child classes of node, comment, block, box etc
*/
.title {
  margin: 0 0 .25em 0;
}
.content {
  margin: 0 0 .5em 0;
    max-width: 1000px;
}
ul.links.inline {
  font-size: 0.8em;
  line-height: 1.25em;
}
.block {
  width: 180px;
}
.messages {
  padding: 0.3em;
  margin: 0.5em 0em 0.5em 0em;
}
.status {
  border: 1px solid #3a3;
  color: #3a3;
}
.error, form-item input.error {
  border: 1px solid red;
  color: red;
}

/*
** Common navigation links added on the admin/build/themes/settings page
*/
.navlinks {
  padding: 0em 0.5em 1.5em 0em; /* LTR */
  clear: both;
}
.primary a {
  font-size: 1.0em;
  padding: 0em 0.5em 0em 0em; /* LTR */
}
.secondary a {
  font-size: 0.9em;
  padding: 0em 0.5em 0em 0em; /* LTR */
}

/*
** Logo Image Positioning
*/
#header img {
  float: left; /* LTR */
  padding: 0em 2em .5em 0em; /* LTR */
}
#header {
  clear: both;
}
/*
** Module specific styles
*/
.form-item textarea {
  font-size: 1em;
}
#aggregator .feed-source {
  border: 1px solid gray;
  padding: 1em;
}
