/* $Id: style.css,v 1.7 2007/06/04 11:10:38 goba Exp $ */

/*
** HTML elements
*/
a, a:link, a:active {
  color: #930;
}
a:visited {
  color: #630;
}
body {
  padding: 5em 0 0 3em; /* LTR */
  background-image: url(background.png);
  background-repeat: repeat-x;
  font-family: trebuchet ms, tahoma, verdana, arial, helvetica;
  border-top: 10px solid gray;
  
}
ul {
  list-style-type: disc;
}

/*
** Page layout blocks / IDs
*/
#main {
  width: 500px;
}
#sidebar-left {
  border-right: 1px solid gray; /* LTR */
}
#sidebar-right {
  border-left: 1px solid gray; /* LTR */
}

/*
** Common declarations for child classes of node, comment, block, box etc
*/
#header .title {
  font-size: 2em;
  font-weight: bold;
  padding-top: .75em;
}
#header .title a,
#header .title a:link,
#header .title a:visited,
#header .title a:active {
  text-decoration: none;
  color: #aaa;
}
#header .title a:hover {
  color: #930;
}
#header .site-slogan {
  margin-top: -0.1em;
  font-size: 0.8em;
}
#subnavlist {
  font-size: 0.8em;
}
ul.links li {
  border-left: 1px solid #000; /* LTR */
}
ul.links li.first {
  border-left: none; /* LTR */
}
.node .title {
  font-size: 1.2em;
}
.node .title a,
.node .title a:link,
.node .title a:active,
.node .title a:visited {
  text-decoration: none;
  font-weight: normal;
}
.node .title a:hover {
  text-decoration: underline;
}
div.links {
  margin: 1em 0 3em 0;
  text-align: right; /* LTR */
}
.comment .content, .block .content, .menu {
  font-size: 0.9em;
}
.block {
  padding-bottom: 1em;
}
.block .title {
  font-size: 1em;
}

/*
** Module specific styles
*/
.item-list ul li {
  list-style: square;
}

/*
** Administration page styles
*/
div.admin-panel .description {
  color: #999;
}
div.admin-panel .body {
  background: #eee;
}
div.admin-panel h3 {
  background-color: #999;
  color: #fff;
  padding: 5px 8px 5px;
  margin: 0;
}
