/* $Id: ec_cart.css,v 1.1.2.1 2009/03/16 12:42:02 gordon Exp $ */

.block-cart .item-count, .items, .total, .checkout, .cart-line-total {
  font-size: 0.9em;
}

.cart-item {
  float: left;
}

.cart-line-total {
  float: right;
}

.cart-items .total {
  border-top: 1px solid #999;
  float: right;
  font-weight: bold;
}

.block-cart .checkout {
  text-align: right;
}

.product-table {
  width:100%;
}

.product-table td {
  vertical-align:top;
  padding:10px;
}

