/**
 * $Id: ec_customer.css,v 1.2.2.4 2008/11/24 04:03:44 gordon Exp $
 */

.customer-addresses {
  width: 100%;
  float: left;
}

.customer-addresses select, .customer-address input.form-text {
  max-width: 100%
}

.shippable .customer-address {
  width: 49%;
  float: left;
}


